/*
 * $Id: f_imageCheckButton.css,v 1.2 2013/11/13 12:53:30 jbmeslin Exp $
 */

/**
 *
 * @class f_imageCheckButton
 *
 * @author Olivier Oeuillot (latest modification by $Author: jbmeslin $)
 * @version $Revision: 1.2 $ $Date: 2013/11/13 12:53:30 $ 
 */
 
.f_imageCheckButton {
	cursor: pointer;
}
 
.f_imageCheckButton,
.f_imageCheckButton_image,
.f_imageCheckButton_text {
	border: 0;
	padding: 0;
	margin: 0;
	-moz-user-select: none;
	-moz-user-focus: normal;
	user-select: none;
	color: black;
	text-decoration: none;
	text-align: left;
	vertical-align: baseline;
}

.f_imageCheckButton_disabled,
.f_imageCheckButton_disabled INPUT,
.f_imageCheckButton_disabled A {
	-moz-user-focus: ignore;
	cursor: default;
}

.f_imageCheckButton_disabled .f_imageCheckButton_text {
	color: #A1A192;
}

/*
.f_imageCheckButton_text {
	border: 1px solid transparent;
}

.f_imageCheckButton_focus .f_imageCheckButton_text,
.f_imageCheckButton_selected_focus .f_imageCheckButton_text {
	border: 1px dotted black;
}
*/

